<form id="register" method="post" >
    <input type="text" name="name" value="" placeholder="Enter name" required>
    <br/>
    <input type="text" name="planet" value="" placeholder="Enter planet" required>
    <br/><br/>
    <input type="submit" value="Register">
</form>

<script>
    document.querySelector("#register").addEventListener('submit', event=>{
        event.preventDefault();
        
        const name = new FormData(document.getElementById('register')).get('name');
        const planet = new FormData(document.getElementById('register')).get('planet'); 
        
        
        const data = {name, planet};
        
        const options = {
            method: 'POST',
            body:  JSON.stringify(data),
            headers:{
                'Content-Type': 'application/json'
            }
        }

        fetch('/api/empire', options)
        .then(res => res.json())
        .catch(err => console.error('Error', err))
        .then(res => window.open("/api/empire/rebels"))

    })
</script>